pygsheets==2.0.5
google-api-python-client==1.12.11
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
tqdm==4.64.1
apache-airflow-providers-ssh==3.4.0
psycopg2
statsd
datadog
black
peewee==3.17.1
httpx==0.27.2
Authlib==1.3.0
clickhouse-connect==0.8.10
duckdb==1.1.3